/* Per-view index CSS */

.slider-bg-1, .slider-bg-2 {
    min-height: 350px;
    background: center center/cover no-repeat;
}

/* Slide 1 - Desktop */
.slider-bg-1 {
    background-image: url('/img/bannerd.png');
}

/* Slide 1 - Tablet */
@media (max-width: 1199px) {
    .slider-bg-1 {
        background-image: url('/img/bannert.png');
    }
}

/* Slide 1 - Mobile */
@media (max-width: 767px) {
    .slider-bg-1 {
        background-image: url('/img/bannerm2.png');
    }
}

/* Slide 2 - Desktop */
.slider-bg-2 {
    background-image: url('/img/bannerd2.png');
}

/* Slide 2 - Tablet */
@media (max-width: 1199px) {
    .slider-bg-2 {
        background-image: url('/img/bannert2.png'); /* Changed from bannert2.png to existing bannert.png */
    }
}

/* Slide 2 - Mobile */
@media (max-width: 767px) {
    .slider-bg-2 {
        background-image: url('/img/bannerm1.png');
    }
}

/* Video area full-viewport fit */
#scroll-play-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
    display: block;
}

/* small helpers */
.video_area.overlay { padding: 0; }

/* Featured Services - Make images clickable */
.room_thumb_link {
    display: block;
    text-decoration: none;
    color: inherit;
    position: relative;
    z-index: 1;
}

.room_thumb_link:hover {
    text-decoration: none;
    color: inherit;
}

.room_thumb_link .room_thumb {
    position: relative;
    overflow: hidden;
}

.room_thumb_link .room_heading {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* Transparent background - no background color */
    color: black; /* Changed from white to black */
    padding: 15px;
    z-index: 2;
}

