/* Per-view index CSS */

.responsive-banner-bg {
    min-height: 350px;
    background: url('/img/banner1111.png') center center/cover no-repeat;
}
@media (max-width: 1199px) {
    .responsive-banner-bg {
        background-image: url('/img/banner3.png');
    }
}
@media (max-width: 767px) {
    .responsive-banner-bg {
        background-image: url('/img/skin4.jpg');
    }
}

/* Video area full-viewport fit */
#scroll-play-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
    display: block;
}

/* small helpers */
.video_area.overlay { padding: 0; }

