/* Styles extracted from resources/views/Client/home.blade.php */
.responsive-banner-bg {
    min-height: 350px;
    background: url('/img/banner1111.png') center center/cover no-repeat;
}
@media (max-width: 1199px) {
    .responsive-banner-bg {
        background-image: url('/img/banner-tablet.jpg');
    }
}
@media (max-width: 767px) {
    .responsive-banner-bg {
        background-image: url('/img/skin4.jpg');
    }
}

/* Video and layout tweaks */
.video_area.overlay {
    padding: 0px 0;
}
#scroll-play-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
    display: block;
}
